<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>url shortner</title>
</head>
<body>
    <div class="container">
        <h2>SHORT URL GENERATOR</h2>
        <form action="/shorturl" method="post" class="my-4 form-inline form-row">
            <input type="url" name="fullUrl" id="fullUrl" placeholder="Enter url" required class="form-control mr-2 col">
            <button type="submit" class="btn btn-outline-success">Shorten</button>
        </form>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        Full Url
                    </th>
                    <th>
                        Short Url
                    </th>
                </tr>
            </thead>
            <tbody>
               <% shorturls.forEach(urls => {%>
                <tr>
                    <td>
                        <a href="<%= urls.full %>"><%= urls.full %></a>
                    </td>
                    <td>
                        <a href="<%= urls.short %>"><%= urls.short %></a>
                    </td>
                    <td>
                       <a href="/delete/?id<%= urls.short.id %>">
                        <img style="width: 20px;" src="https://image.flaticon.com/icons/png/128/1828/1828843.png" alt="delete_short_link">
                       </a>
                    </td>
                </tr>
                <%})%>
            </tbody>
        </table>
        <a href=""></a>
    </div>
    </body>
</html>